
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1.2s ease-out forwards;
  opacity: 0;
}

.fade-in-down {
  animation: fadeInDown 1.2s ease-out forwards;
  opacity: 0;
}


// Annulations éléments statiques
.fade-in-up p {
  animation: fadeInDown 1.2s ease-out forwards;
}

.banner.fade-in-down img {
  animation: fadeInUp 1.2s ease-out forwards;
}


