
// ANIMATIONS GLOBALES

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotate-flower {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes floatLogo {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(4px, -6px); }
  50%  { transform: translate(0, 4px); }
  75%  { transform: translate(-4px, -3px); }
  100% { transform: translate(0, 0); }
}

@keyframes floatCat {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}


// EFFET D'APPARITION DES SECTIONS ET TITRES SUR LE SITE

.fade-in-up,
.fade-in-down,
.fade-in-up p,
.fade-in-down img {
  opacity: 0;
}

.fade-in-up,
.fade-in-down img {
  animation: fadeInUp 1.2s ease-out forwards;
}

.fade-in-down,
.fade-in-up p {
  animation: fadeInDown 1.2s ease-out forwards;
}



// Retire les propriétés de l'article qui entoure le template story
.animation-wrapper {
  all: unset;
  display: contents;
}


// ANIMATION DES FLEURS
.story h2::after,
.story__article::after,
#studio h2::before,
#studio h2::after,
.site-footer::before,
.site-footer::after,
.site-footer ul::after,
.flower {
  animation: rotate-flower 6s linear infinite;
  transform-origin: center center;
}


// SECTION OSCARS

#oscars {
  margin-top:6%;
  position: relative;
}

.oscars-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: auto;
  width: 100%;
}

.oscars-cloud {
  background: url('../../assets/images/decorations/nuage_orange_oscar.png') no-repeat center;
  background-size: 103%;
  padding: 4rem 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.oscars-title {
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  font-size: clamp(1.5rem, 4vw, 42px);
  padding:0;
  margin: 0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFF5E9;
  letter-spacing: -0.02em;
  line-height: 52px;
}

.oscars-wrapper img {
  width: 25%;
}

// Masquage des fleurs du footer pendant Oscars
.site-footer::before,
.site-footer::after {
  display: none;
}

// Fleurs flottantes indépendantes
.flower {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 1;
}

.flower--sunflower {
  background-image: url('../../assets/images/decorations/Sunflower.png');
  width: 12em;
  height: 12em;
  top: -9vh;
  left: 5vw;
}

.flower--orchid {
  background-image: url('../../assets/images/decorations/orchid.png');
  width: 10em;
  height: 10em;
  top: -10vh;
  right: -7vw;
}


@media (max-width: 1040px) {
  .oscars-wrapper {
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      width: 40%;
    }
  }
}

@media (max-width: 720px) {

  .oscars-cloud {
    background-size: 105%;
  }

  .oscars-wrapper img {
    width: 60%;
  }

  .oscars-title {
    font-size: 24px;
    align-items: center;
    line-height: 30px;
  }
  #oscars .flower {
    display:none;
  }
}

// ANIMATION TITRE H2 ET H3

h2 span, h3 span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

h2.visible span, h3.visible span {
  opacity: 1;
  transform: translateY(0);
}

h2.visible span, h3.visible span {
  @for $i from 1 through 40 {
    &:nth-child(#{$i}) {
      transition-delay: #{($i - 1) * 0.25}s;
    }
  }
}


// ANIMATION BANNIERE HEADER

.banner {
  position: relative;
  overflow: hidden;

  // Contenu par-dessus la vidéo
  .banner-content {
    position: relative;
    z-index: 2;
    text-align: center;

    // Flottement logo
    &.floating-title {
      animation: floatLogo 2s cubic-bezier(.57,.96,.43,.06) infinite;
      will-change: transform;
    }
  }

  // Vidéo en background
  video#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 1;
    display:flex;
    align-items: flex-start;
  }

  // Image de fallback
  .fallback-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    display: none;
  }

}

.title-wrapper {
  position: relative;
  z-index: 3;
  height: auto;
  will-change: transform;
}

  .banner img {
    width: 90%;
  }


@media (max-width: 768px) {
  .banner video#background-video {
    display: none;
  }

  .banner .fallback-img {
    display: block;
  }

  .floating-title {
  animation: none !important;
  }
  .title-wrapper {
    transform: none !important;
    position: static;
  }

}

// ANIMATION PARTIE PERSONNAGE

.story #characters {
  margin: 2em;
}

.main-character {
width: 100%;
}

.story #characters h3 {
  display: flex;
  align-items: flex-start;
  gap: 0.25em;
  padding-left: 10%;
  background-position: 10%;
}

swiper-slide {
  width: 33%;
  text-align: center;
  pointer-events: none;
}

swiper-slide img {
  width: 20vw;
}

@media (max-width: 1040px) {
  .story #characters {
  margin: 2em 0em;
}
  .story #characters h3 {
  display: block;
  background-position: center;
  padding-left: 10%;
  gap: 0em;
}
}

// ANIMATION PARTIE LIEU

.story #place {
	background-image: url("../../assets/images/backgrounds/Studio_Koukaki-image_place.png");
  position: relative;
}

.story #place h3 {
z-index: 3;

}

/* Nuages généraux */
.cloud {
  position: absolute;
  height: auto;
  pointer-events: none;
  filter:blur(14px)
}

/* Nuage du haut */
.cloud--big {
  right: 5vw;  
  top: 6rem;    
}

/* Nuage du bas */
.cloud--little {
  right: 32vw;    
  top: 18rem;  
}


@media (max-width: 920px) {
.story #place {
  background-image: url("../../assets/images/backgrounds/place_bg.png");
}
.cloud {
display:none;
}
}


// ANIMATION NAVIGATION HEADER

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.nav-spacer {
  width: 20%;
}

.main-navigation ul {
  width: 55%;
  text-align: center;
  display:flex !important;
}

.menu-container {
  display:flex;
  align-items: center;
  width: 20%;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  padding: 10px;
}
.line {
  padding: 0 30px;
  height: 2px;
}

/* état ouvert -> .menu-open sur <body> */
.menu-open .menu-toggle .line:nth-child(1){transform:translateY(8px) rotate(45deg);}
.menu-open .menu-toggle .line:nth-child(2){opacity:0;}
.menu-open .menu-toggle .line:nth-child(3){transform:translateY(-16px) rotate(-45deg);}

// OVERLAY MENU
.menu-header{
  position:fixed;
  background:#FFF5E9;
  display:flex; 
  flex-direction:column; 
  align-items:center;
  visibility:hidden; 
  z-index:9;   
  inset:0;
  gap:5vh;
  padding-bottom:100%;
  opacity:0;
}

.menu-open .menu-header{ 
  visibility:visible; 
  pointer-events:auto;
	position: sticky;
	top: 0;
  animation: fadeInDown 0.7s ease-out forwards;
  opacity: 0; 
}


.menu-header img {
  width: clamp(80px, 12vw, 120px);
  height: auto;
  margin-top:3vh;
  filter:drop-shadow(0px 0px 10px #FF5C0099);
}

/* lien */
.menu-header ul{ 
  list-style:none; 
  margin:-30px 0 0 0; 
  padding:0; 
  text-align:center;
  font-size: clamp(24px, 6vw, 42px);
  line-height: 15vh;
  z-index: 3;
}
.menu-header a{
  text-decoration:none; 
  position:relative;
}

.menu-header a:hover {
  color:black;
  filter:drop-shadow(0px 0px 5px #FF5C00)
}


// Positionnement des chats et des fleurs
.menu-header {
  .cat,
  .flower {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 1;
  }

  .cat {
    width: 8em;
    height: 8em;
    animation: floatCat 2s infinite;
    will-change: transform;

    &.purple_cat {
      background-image: url('../../assets/images/characters/purple_cat.png');
      top: 11vh;
      left: 22vw;
    }
    &.gray_cat {
      background-image: url('../../assets/images/characters/gray_cat.png');
      top: 45vh;
      right: 22vw;
    }
    &.orange_cat {
      background-image: url('../../assets/images/characters/orange_cat.png');
      top: 64vh;
      left: 2vw;
    }
  }

  .flower {
    &.orchid {
      background-image: url('../../assets/images/decorations/orchid.png');
      width: 8em;
      height: 8em;
      top: 4vh;
      left: -3vw;
    }
    &.sunflower {
      background-image: url('../../assets/images/decorations/Sunflower.png');
      width: 11em;
      height: 11em;
      top: 5vh;
      right: 20vw;
    }
    &.random_flower {
      background-image: url('../../assets/images/decorations/random_flower.png');
      width: 4em;
      height: 4em;
      top: 35vh;
      right: -1vw;
    }
    &.multi_flowers {
      background-image: url('../../assets/images/decorations/multi_flowers.png');
      width: 4em;
      height: 4em;
      top: 44vh;
      left: 18vw;
    }
    &.hibiscus_footer {
      background-image: url('../../assets/images/decorations/hibiscus_footer.png');
      width: 30em;
      height: 30em;
      top: 60vh;
      right: -14vw;
    }
  }
}


@media (max-width: 768px) {
.menu-header .flower, .menu-header .cat, .nav-spacer, .main-navigation ul {
  display:none !important;
}
.menu-header {
 background: url('../../assets/images/backgrounds/background_menu_container.png') center / cover no-repeat;
}
.main-navigation {
  display: flex;
  justify-content: center;
}
}

